{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

  <script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'coloring/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--   <link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" /> -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


	<style type="text/css">
    
    html, body {
      height: 100%;
    }
    
    body {
      font-family: 'Raleway', sans-serif;
    }
    
    #myCanvas {
			  padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
    
    #image-side {
      height: 100%;
    }
    
    #nav-tabContent {
      background-color: #EFEFEF;
      height: 100%;
      box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.19);
      border-radius: 5px 0px 0px 0px;
      z-index: 100;
    }
    
    .colors-picked {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
      margin: auto;
    }

    .color-circle {
			width: 30px;
			height: 30px;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			border-radius: 20px;
			margin: 9px;
		}
    
    .bg-1 {
      background-color: #fefe30;
    }
    
    .bg-2 {
      background-color: #fb9a00;
    }
    
    .bg-3 {
      background-color: #fd5202;
    }
    
    .bg-4 {
      background-color: #fe230a;
    }
    
    .bg-5 {
      background-color: #a81249;
    }
    
    .bg-6 {
      background-color: #8700b1;
    }
    
    .bg-7 {
      background-color: #3b00a5;
    }
    
    .bg-8 {
      background-color: #0045fe;
    }
    
    .bg-9 {
      background-color: #0093cf;
    }
    
    .bg-10 {
      background-color: #66b22f;
    }
    
    .bg-11 {
      background-color: #d1eb27;
    }
   
    #shadow-box {
      height:100%;
      width: 96%;
      background-color: rgb(0,0,0,0.4);
      position: absolute;
      z-index: 7;
    }
    
    .z-high {
      z-index: 100;
      position: relative;
    }
    
    .popover {
      border: 0px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
    }
    
    .bs-popover-auto[x-placement^=top]>.arrow::before, .bs-popover-top>.arrow::before {
      border: 0px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
    }
    
    
    #autofill-btn {
      vertical-align: middle;
      font-size: 24px;
      position: absolute;
      left: 27%;
      top: 70%;
    }
    
    a {
      background-color: #d8d8d8;
      color: #000;

    }
    
    .nav-link.autotab {
      box-shadow: inset 7px 0px 3px -3px #909090;
    }
    
    .nav-link.active.autotab {
      box-shadow: -7px 0px 3px -3px #909090;
    }
    
    .nav-link.active.painttab {
      box-shadow: 7px 0px 3px -3px #909090;
    }
    

    
    .lock-btn {
      margin-right:4px;
      margin-left: 10px;
      margin-bottom: 2px;
      height: 15px;
    }
    

    .locking {
      vertical-align: middle;
      position: absolute;
      left: 35%;
      top: 80%;
      height: 50px;
    }
    
    .delete {
      vertical-align: middle;
      display: inline-block;
      padding-top: 4px;
      color: #fff;
      top: 5px;
    }
    
    .instructions {
      opacity: 0.5;
    }
    
    .nav-tabs .nav-item {
      margin-bottom: -1px;
      width: 50%;
    }
    
    .nav-tabs .nav-link {
      border-top-left-radius: 0.50rem;
      border-top-right-radius: 0.50rem;
      font-size: 24px;
      vertical-align: middle;
      font-weight: 400;
    }
    
    #nav-paint {

    }
    
    
    
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      color: #000;
      background-color: #efefef;
      
      border-color: #efefef;
    }
    
    #curr-color {
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 90px;
      background-color: #fefe30;
      top: 18%;
      left: 40%;

    }
    
    .popup {
      display: none;
/*       visibility: hidden; */
      position: absolute;
      text-align: center;
/*       color: white; */
      background: white;
      border: 5px solid black;
      border-radius: 10px;
/*       display: flex; */
/*       flex-wrap: wrap; */
    }
   
    /*#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}
    
   	.swatch {
			width: 25px;
			height: 25px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 5px;
		}*/
    
    
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');
      var colorsPicked = [];
      var mode = "paint";
      var currColor = "#fefe30";
      var possibleColor =['254.254.48',
                '250.190.0',
                '251.154.0',
                '253.82.2',
                '254.35.10',
                '168.18.73',
                '135.0.177',
                '59.0.165',
                '0.69.254',
                '0.147.207',
                '102.178.47',
                '209.235.39'];
      
      
      
      $('.autotab').on("click", function() {
        mode = "autofill";
        console.log("autofilllmode")
      })
      

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg',
			};	

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}
      


			// your rectangle gradient interaction goes in this function
			// you may also add code outside of the function (e.g., global variables)
			function myGradientInteraction(){
				var tool = new paper.Tool();
        
        let rectangle = new paper.Path();
        
        let x = 260;
        let y = 410;
        let length = 200;
        let width = 100;
        
        rectangle.add(new paper.Point(x,y));
        rectangle.add(new paper.Point(x + length,y));
        
        rectangle.add(new paper.Point(x + length,y - width));
        rectangle.add(new paper.Point(x,y - width));
        
        rectangle.closed = true;
        
        rectangle.fillColor = 'red';
        
        rectangle.view.draw();
        
        let startPoint = 0;
        let endPoint = 0;

				tool.onMouseDown = function (event) {
          if ($.fn.checkXY(event.point)) {
            startPoint = event.point;
            
          }
				}

				tool.onMouseUp = function (event) {
					if ($.fn.checkXY(event.point)) {
            let grad1Ind = cp.history.length - 2;
            let grad2Ind = cp.history.length - 1;
            endPoint = event.point;
            rectangle.fillColor = {
              gradient: {
                stops: [cp.history[grad1Ind], cp.history[grad2Ind]]
              },
              origin: startPoint,
              destination: endPoint
            }
          }
				}
        
        $.fn.checkXY = function(point){ 
          if (point.x > x && point.x < (x+length) && point.y < y && point.y > (y - width)) {
            return true;
          } else {
            console.log('false');
            return false;
          }
        }
        
        

			}
      
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
      
      $('.popover-dismiss').popover({
        trigger: 'focus'
      })

			// your custom interaction goes here!
			// you may replace everything
			function myCustomInteraction() {
         /// color changes randomly on selected area
				var tool = new paper.Tool();
				tool.onMouseDown = function (event) {
        var hit = mandala.item.hitTest(event.point, { tolerance: 1, fill: true });
          
				    if (hit) {       
                
                if (mode == "paint") {
                console.log(mode);
                $('.popup').css({
                    "display": "none!important",
                    "flex-wrap": "no-wrap"
                })
                
				        hit.item.fillColor = currColor;
              
                hit.item.lock = true;
				        } else {
//                 console.log("we got here");
                $("#myCanvas").click(function(event) {
                    $('.popup').show();
                    $('.popup').css({
                        top: event.pageY + 3,
                        left: event.pageX + 3,
                        "display": "flex",
                        "flex-wrap": "wrap"
                    })
                  
                    $('.popUpClassColor').on("click", function() {
                    var areaColor = $(this).css("background-color");
                    if (typeof areaColor !== "undefined")
                        console.log(hit.item);
                        hit.item.fillColor = currColor;
                    })
                    
                    
                    
                    if (hit.item.lock == true){
                        $('#popup-unlock-select').hide();
                        $('#popup-lock-select').show();
                    } else{
                        $('#popup-lock-select').hide();
                        $('#popup-unlock-select').show();
                    }
      
                    $('#popup-lock-select').on("click", function() {
                      hit.item.lock = false;
                      $('#popup-unlock-select').show();
                      $('#popup-lock-select').hide();
                    })

                    $('#popup-unlock-select').on("click", function() {
                      hit.item.lock = true;
                      $('#popup-unlock-select').hide();
                      $('#popup-lock-select').show();
                    })
            })
          }
            }
        }
      }
      


			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) { 
					mandala.item = item._children["design-freepik"];
          //initiate lock
          for (i = 0;  i < mandala.item.children.length; i++){
              var currArea = mandala.item.children[i];
	            if (typeof currArea.lock === 'undefined') {
          	  currArea.lock = false;
              }
          }
          
//           console.log(mandala.item.lock);
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();	
				    } else {
				    	myGradientInteraction();
				    }		
					
				}); 
			}
      
      //CREATE COLOR WHEEL IMAGE
      var pickerCanvas = document.getElementById('autofill-picker');
      var pickerCTX = pickerCanvas.getContext('2d');

      var pickerImage = new Image();
      pickerImage.onload = function () {
          pickerCTX.drawImage(pickerImage, 20, 20, 200, 200); 
      }

      pickerImage.src = '/static/coloring/images/colorwheel.png';
      
      
      var paintPickerCanvas = document.getElementById('paint-picker');
      var paintPickerCTX = paintPickerCanvas.getContext('2d');

      var paintPickerImage = new Image();
      paintPickerImage.onload = function () {
          paintPickerCTX.drawImage(paintPickerImage, 20, 20, 200, 200); 
      }
      
      paintPickerImage.src = '/static/coloring/images/colorwheel.png';
      
      
      $('.painttab').on("click", function() {
        mode = "paint";
      })
      
      $('#paint-picker').on("click", function(e) { 
              var canvasOffset = $(paintPickerCanvas).offset();
              var canvasX = Math.floor(e.pageX - canvasOffset.left);
              var canvasY = Math.floor(e.pageY - canvasOffset.top);


              var imageData = paintPickerCTX.getImageData(canvasX, canvasY, 1, 1);
              var pixel = imageData.data;

              var r = pixel[0].toString();
              var g = pixel[1].toString();
              var b = pixel[2].toString();
              var rgb = "rgb(" + r + ", " + g + ", " + b +");"
              var rgbCheck = r + '.' + g + '.' + b;
              var dColor = pixel[2] + 256 * pixel[1] + 65536 * pixel[0];
              var hexColor = '#' + ('0000' + dColor.toString(16)).substr(-6);
              
              if (jQuery.inArray(rgbCheck, possibleColor) != -1) {
                currColor = hexColor;
                $('#curr-color').css('background-color', rgb);
                                
       }})
      

//       function popUpColor() {
// 				var tool = new paper.Tool();
// 				tool.onMouseDown = function (event) {
// 				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
// 				    if (hit) {
//               console.log('hit')
//                 $('.popUpClassColor').on("click", function() {
//                   console.log("hellllo");
//                   var areaColor = $(this).css("background-color");
//                   console.log(areaColor);
//                   if (typeof areaColor !== "undefined")
//                       console.log(areaColor);
//                       hit.item.fillColor = areaColor;
//                 })
// 				    }
// 				}
// 			}
      
      //HIDE BUTTONS
      $('#done-icon').hide();
      $('#info-edit').hide();

      
      var isAdding = false;
      $('#shadow-box').hide();
      
//       $('#shadow-box').on("click", function(e) {
//         if (e.pageY > 360) {
//           $('#shadow-box').hide();
//           isAdding = false;
//         }
//       })
      
      
      function displayEditInstructions(colorsPicked) {
        if (colorsPicked.length == 0) {
          $('#no-colors').show();
        } else {
          $('#no-colors').hide();
        }
      }
      
      
      //TOOL BAR SIDE
      $('#unlock-select').hide();
      
      $('#lock-select').on("click", function() { // unlock all select
        $('#lock-select').hide();
        $('#unlock-select').show();
        
        for (i = 0;  i < mandala.item.children.length; i++){
              var currArea = mandala.item.children[i];
	            if ((currArea.lock == true) || (typeof currArea.lock === 'underfined')) {
          	      currArea.lock = false;
              }
              console.log("unlock all fxn: children " + i + "'s lock = " + currArea.lock);
        }
        
      })
    
      $('#unlock-select').on("click", function() {
        $('#unlock-select').hide();
        $('#lock-select').show();
            
        for (i = 0;  i < mandala.item.children.length; i++){
              var currArea = mandala.item.children[i];
	            if ((currArea.lock == false) || (typeof currArea.lock === 'underfined')) {
          	      currArea.lock = true;
              }
              console.log("lock all fxn: children " + i + "'s lock = " + currArea.lock);
          }
      })
      
  
      //WHEN EDIT BUTTON IS CLICKED
      $('#edit-icon').on("click", function() {
        
        $('#no-colors').hide();
        $('#edit-icon').hide();
        $('#done-icon').show();
        $('.delete').show();
        $('#info-edit').show();
        $('#want-text').css('color','#fff')


        $('#shadow-box').show();
        

          isAdding = true;
          
          //DETERMINE WHAT COLORS ARE PICKED
          $(function(){

            var possibleColor =['254.254.48',
                '250.190.0',
                '251.154.0',
                '253.82.2',
                '254.35.10',
                '168.18.73',
                '135.0.177',
                '59.0.165',
                '0.69.254',
                '0.147.207',
                '102.178.47',
                '209.235.39'];

            //got help from https://dzone.com/articles/creating-your-own-html5?fbclid=IwAR1T7DdJ3BDpROB3-KNqg0k4vLJj7XHLZvf3AOvmvSmDNMc9mVjCmrM2ofQ
            $('#autofill-picker').on("click", function(e) { 
              var canvasOffset = $(pickerCanvas).offset();
              var canvasX = Math.floor(e.pageX - canvasOffset.left);
              var canvasY = Math.floor(e.pageY - canvasOffset.top);


              var imageData = pickerCTX.getImageData(canvasX, canvasY, 1, 1);
              var pixel = imageData.data;

              var r = pixel[0].toString();
              var g = pixel[1].toString();
              var b = pixel[2].toString();
              var rgb = "rgb(" + r + ", " + g + ", " + b +");"
              var rgbCheck = r + '.' + g + '.' + b;
              var dColor = pixel[2] + 256 * pixel[1] + 65536 * pixel[0];
              var hexColor = '#' + ('0000' + dColor.toString(16)).substr(-6);
              
              //MAKE SURE AVAILABLE COLOR IS PICKED AND COLOR HAS NOT ALREADY BEEN PICKED
              if (jQuery.inArray(hexColor, colorsPicked) == -1 && jQuery.inArray(rgbCheck, possibleColor) != -1 && isAdding == true) {
                $('.colors-picked').append('<div class="color-circle" style="text-align: center; background-color:' + hexColor + '"><span class="delete">&#x2715;<span></div>');
                colorsPicked.push(hexColor)
                                
              }
              
              $('.delete').on("click", function() {

                var remColor = $(this).parent().css("background-color")
                if (typeof remColor !== "undefined") {

                  var remRGB = remColor.split( ',' ) ;
                  var r = parseInt(remRGB[0].substring(4)); 
                  var g = parseInt(remRGB[1]);
                  var b = parseInt(remRGB[2]); 

                  var dRGB = b + 256 * g + 65536 * r;
                  var remHex = '#' + ('0000' + dColor.toString(16)).substr(-6);

                  //remove color from array
                
                  //console.log("before")
                  //console.log(colorsPicked)
                  colorsPicked = jQuery.grep(colorsPicked, function(value) {
                    return value != remHex.toString();
                  });
//                   console.log("after")
//                   console.log(colorsPicked);
                  $(this).parent().remove()
                  $(this).remove()
                
                }
              })

            });
          });
          
          $('#done-icon').on("click", function() {
            isAdding = false;
            $('#done-icon').hide()
            $('#edit-icon').show()
            $('#shadow-box').hide()
            $('.delete').hide();
            $('#info-edit').hide();
            $('#want-text').css('color','#2d2d2d')
            displayEditInstructions(colorsPicked)
          })


      })
      
      $('#popup-done-btn').click(function(){
        $('.popup').hide()
      })
//       //AUTOFILLING HOPEFULLY THIS WORKS AH
//       $('#autofill-btn').click(function() {
//         var notColoredSpaces = paper.project.getItems({ // gives an []
//           // this method give the null items that are being CLICKED
//           // get all spaces that are not colored so far
//           color: null,
//         })
//         console.log("length of array = " + notColoredSpaces.length);
//         for (var i = 0;  i < notColoredSpaces.length; i++){
//           //notColoredSpaces[i].fillColor = "#000000";
//           notColoredSpaces[i].fillColor = colorsPicked[Math.random()];
// //           console.log(notColoredSpaces[i]);
//         }
//       })
      
      
      //AUTOFILLING TRYING PT 2
      $('#autofill-btn').click(function() {
        var notColoredSpaces = mandala.item

//          console.log(notColoredSpaces.children[0]);

//         console.log(notColoredSpaces.children[0]);
//         notColoredSpaces.children[0].fillColor = colorsPicked[Math.floor(Math.random()*colorsPicked.length)];
        //console.log("length of array = " + notColoredSpaces.length);
        for (i = 0;  i < notColoredSpaces.children.length; i++){
          //notColoredSpaces[i].fillColor = "#000000";
          
//           console.log(notColoredSpaces.children[i].fillColor);
//           notColoredSpaces.children[i].fillColor = colorsPicked[Math.floor(Math.random()*colorsPicked.length)];
          var currArea = notColoredSpaces.children[i];
//           console.log("currArea.lock " + currArea.lock);
//           if (typeof currArea.lock === 'undefined') {
//             currArea.lock = false;
// //             console.log("lock " + currArea.lock);
//           }
//            console.log("currArea.lock 2 " + currArea.lock);
          if (currArea.lock == false) {
//             console.log(currArea.fillColor._canvasStyle);
//             console.log("lock " + currArea.lock);
            currArea.fillColor = colorsPicked[Math.floor(Math.random()*colorsPicked.length)];
          }
        }
      })
      
//             //AUTOFILLING TRYING PT 3
//       $('#autofill-btn').click(function() {
//         var wholeSpace = mandala.item;
        
//          var notColoredSpaces = wholeSpace.getItems({
//           fillColor: null,
//         })
        
//         for (i = 0;  i < 242; i++){
//           notColoredSpaces[i].fillColor = colorsPicked[Math.floor(Math.random()*colorsPicked.length)];
//         }
//       })
      
      

			// To see your myGradientInteraction version visit: 
			// http://<your url>:8000/coloring/?type=gradient
			// To see your myCustomInteraction version visit: 
			// http://<your url>:8000/coloring/
			var url = window.location.href;
			if (url.indexOf("gradient") > -1) {
				init(false);
			} else {
				init(true);
			}
    
 		} 

//           $('#appTabs a[href="#autofill"]').tab('show');
      
//       $('#appTabs a[href="#paint"]').on('click', function(e){
//         e.preventDefault();
//         $(this).tab('show')
//       })
      
//       $('#appTabs a[href="#autofill"]').on('click', function(e){
//         e.preventDefault();
//         $(this).tab('show')
//       })
    
    $(function () {
        $('#appTabs li:first-child a').tab('show')
    })
    

	</script>
</head>
<body>
  
  <div class="container-fluid" style="height:100%; padding-right:0;">
    <div class="row" style="height:100%;">
      
      <!-------------CANVAS IMAGE SIDE ------------->
      <div class="col-sm-9" >
        <div id="image-side" style="padding-top: 100px; padding-left: 10px;">
          <canvas id="myCanvas" width="750px" height="750px"></canvas>
          <div class="popup">
            <div class = "color-circle popUpClassColor bg-1"></div>
            <div class = "color-circle popUpClassColor bg-2"></div>
            <div class = "color-circle popUpClassColor bg-3"></div>
            <div class = "color-circle popUpClassColor bg-4"></div>
            <div class = "color-circle popUpClassColor bg-5"></div>
            <div class = "color-circle popUpClassColor bg-6"></div>
            <div class = "color-circle popUpClassColor bg-7"></div>
            <div class = "color-circle popUpClassColor bg-8"></div>
            <div class = "color-circle popUpClassColor bg-9"></div>
            <div class = "color-circle popUpClassColor bg-10"></div>
            <div class = "color-circle popUpClassColor bg-11"></div>
            <img class="lock-btn" id="popup-lock-select" src='/static/coloring/images/lock-select.png' style="height:40px; margin-top: 7px; margin-right:3px; " >
            <img class="lock-btn" id="popup-unlock-select" src='/static/coloring/images/unlock-select.png' style="height:40px; margin-top: 7px; margin-right:3px">
            <button type="button" class="btn btn-secondary" id="popup-done-btn">
              done
            </button>
          </div>
        </div>
      </div>
      
      <!-------------TOOL BAR SIDE ------------->
      <div class="col-sm-3 text-center" style="padding-right:0;">
        
      <!-------------NAV TABS------------->
        <div id="buffer" style="height:10px;"></div>
          <ul class="nav nav-tabs" id="appTabs" role="tablist">
              <!----- PAINT TAB ------>
              <li class="nav-item">
                <a class="nav-link painttab" id="nav-paint" data-toggle="tab" 
                   href="#paint" role="tab" aria-controls="paint" aria-selected="false" 
                   style="box-shadow: 7px 0px 3px -3px #909090;">PAINT</a>
              </li>
              <!------- AUTOFILL TAB ----->
              <li class="nav-item">
                <a class="nav-link active autotab" id="nav-autofill" data-toggle="tab" 
                   href="#autofill" role="tab" aria-controls="autofill" aria-selected="true">AUTOFILL</a>
              </li>
          </ul>
        
        <!--------- TAB CONTENT---------->
        <div id="shadow-box"></div>
        <div class = "tab-content" id="nav-tabContent">
          
          <!--      PAINT CONTENT      -->
          <div class = "tab-pane fade" id="paint" role="tabpanel" aria-labelledby="paint">
            <br>
            <div id="curr-color"></div>

            <div class="colorpicker" >
                <canvas id="paint-picker" width="244.75" height="255"></canvas>
            </div>

          </div>
          
          <!----------- AUTOFILL CONTENT ---------->
          <div class = "tab-pane fade show active" id="autofill" role="tabpanel" aria-labelledby="autofill">
            <br>
              <!------------CHOOSING COLOR THINGS -------->
              <div class="colorpicker z-high" >
                <canvas id="autofill-picker" width="244.75" height="255"></canvas>
              </div>
              <div class="z-high">
              <!--         *** make this as scroller         -->
                <span id="want-text" style="font-size: 24px; display: block;">
                  Colors I Want 

                  <img id="edit-icon" src="/static/coloring/images/edit-cirlce.png" style="height: 25px; opacity: 0.7; padding-bottom:3px;">
                  <img id="done-icon" src="/static/coloring/images/done-icon.png" style="height: 25px; opacity: 0.7; padding-bottom:3px;">

                </span>
                
                <div class="instructions" id="info-edit">
                  <span style="font-size:12px; color: #fff;">
                    Click a color on the color wheel above to add it to <br> your colors. To remove a color, click on the &#x2715;
                  </span>
                </div>
                
                <div class="colors-picked" >
                </div>
                <div class="instructions" id="no-colors">
                  <span style="font-size:12px; width: 150px; ">
                    You have not selected any colors for autofill to use
                  </span>
                </div>
                
                <!--
                <div>
                  <img id="edit-icon" src="/static/coloring/images/edit-cirlce.png" style="height: 30px; opacity: 0.7; padding-top:7px;">
                </div>
                
                <div>
                  <img id="done-icon" src="/static/coloring/images/done-icon.png" style="height: 30px; opacity: 0.7; padding-top:7px;">
                </div>
                -->

            </div>

            
            <!------AUTOFILL BUTTON----->
            <div class="other">
              
              <button type="button" class="btn btn-primary" id="autofill-btn" >
                <img src='/static/coloring/images/star-icon.png' style="height:20px; padding-right: 2px;">
                AUTOFILL
              </button>

            <br>
            
            <!--------LOCKING button------->
              <div class="locking">
                <img class="lock-btn" id="lock-select" src='/static/coloring/images/lock-select.png' style="height:60px; margin-left:3px; margin-bottom:50px;">
                <img class="lock-btn" id="unlock-select" src='/static/coloring/images/unlock-select.png' style="height:60px; margin-left:3px; margin-bottom:50px;">
                <img data-content="Everything colored is locked. To unlock all colored regions, toggle this lock icon. To unlock specific regions, click the region and toggle unlock." 
                     data-placement="top" data-toggle="popover" data-trigger="hover" src='/static/coloring/images/info-icon.png' style="height:15px; margin-left:0px; margin-bottom:100px;">
              </div>        
            
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

	
</body>
</html>